.month-scheduler a{
	text-decoration: none;
}

.month-scheduler .month-nav {
	display: block;
	padding: 10px 10px 10px 10px;
	background-color: #98D9D3;
	color: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.month-scheduler .month-week {
	border-bottom: thin solid #305D7C;
}

.month-scheduler .week-day {
	display: inline-block;
	box-sizing: border-box;
	width: 14.28%;
	vertical-align: top;
}

.month-scheduler .weekday-header {
	margin-top: 10px;
	text-align: center;	
}

.month-scheduler .weekday-header .week-day {
	color: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}

.month-scheduler .week-day.today {
	background-color: #FFA366;
}

.month-scheduler .day-number,
.month-scheduler .day-content {
	display: block;
	padding: 5px 5px 5px 5px;
}

.month-scheduler .day-number {
	color: inherit;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 24px;
}

.month-scheduler .time-slot {
	display: inline-block;
}

.month-scheduler .time-slot a {
	display: inline-block;
	padding: 5px 5px 5px 5px;
}

.month-scheduler .time-slot a:hover {
	background-color: #FF6600;
}

