/* myCalendar minimum CSS file*/
	body {
		margin: 0 0 0 0;	
	}
	body div{
		display: block;	
	}
	#nav div {
		display: inline-block;	
	}
	#page {
		width: 900px;
		margin-left: 150px;	
	}
	#page div {
		display: block;	
	}
	#page #header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	#calendar,
	.schedule {
		border-collapse: collapse;
	}
	.calendar-day,
	.calendar-day-np {
    border: 1px solid lightgrey;
	}
	#calendar-prev,
	#calendar-month,
	#calendar-next,
	.calendar-day-head,
	.calendar-day {
		text-align: center;
	}
	.calendar-day.today .day-number {
		background-color: coral;
		color: white;
	}