/* myCalendar */
	body {
		margin: 0 0 0 0;	
	}
	body div{
		display: block;	
	}
	#nav div {
		display: inline-block;	
	}
	#page {
		width: 900px;
		margin-left: 150px;	
	}
	#page div {
		display: block;	
	}
	#page #header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	#calendar {
		border-collapse: collapse;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#calendar,
	#calendar-head,
	#calendar-head td,
	.calendar-day-head, {
		border-width: 0px;	
	}
	.calendar-row,
	.calendar-row td {
    border: 1px solid grey;
	}
	#calendar th,
	#calendar td {
		text-align: center;
	}
	#calendar-prev a,
	#calendar-next a {
		text-decoration: none;
	}
	.day-number {
		text-decoration: none;
		margin: 10px 10px 10px 10px;
		border-radius: 5px 5px 5px 5px;
	}
	.calendar-day.today .day-number {
		border: 1px solid lightblue;
	}
	.calendar-day.selected .day-number {
		background-color: grey;
		color: white;
	}
	.calendar-day.active .day-number {
		 font-weight: bold;
	}
	.calendar-day.active .day-number:hover {
		background-color: coral;
		color: white;
	}