	body {
		margin: 0 0 0 0;	
	}
	header,
	nav,
	#wrapper,
	footer {
		display: block;	
	}
	nav div {
		display: inline-block;	
	}
	#wrapper {
		width: 900px;
		margin-left: 150px;	
	}
	#page div {
		display: block;	
	}
	#page #header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}