	body {
		margin: 0 0 0 0;	
	}
	header,
	nav,
	#wrapper,
	footer {
		display: block;	
	}
	.nav-link {
		display: inline-block;
		background-color: lightgrey;
		color: black;	
	}
	.nav-link a{
		text-decoration: none;
		color: inherit;	
	}
	#wrapper {
		width: 900px;
		margin-left: 150px;	
	}
	#page div {
		display: block;	
	}
	#page #header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	footer {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: dimgray;
		color: lightgrey;
		text-align: center;	
	}
	.footer-row {
		display: block;
	}
	.footer-column {
		display: inline-block;
		min-width: 200px;
		margin-left: 10px;
		margin-right: 10px;
		vertical-align: middle;
	}