/* myCalendar minimum CSS file*/
	#calendar,
	.schedule {
		border-collapse: collapse;
	}
	#calendar {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		border-color: #305D7C;
	}
	#calendar tr {
		border-color: inherit;	
	}
	.calendar-day,
	#calendar th,
	.calendar-day-np {
		border-width: thin;
		border-style: solid;
		border-color: inherit;
	}
	#calendar-prev,
	#calendar-month,
	#calendar-next,
	.calendar-day-head,
	.calendar-day {
		text-align: center;
	}
	.calendar-day.today .day-number {
		background-color: #FFA366;
		color: white;
	}
	.day-number {
		margin: 5px 5px 5px 5px;	
	}
	.time {
		margin: 5px 5px 5px 5px;	
	}