	.calendar {
		display: grid;
		grid-template-columns: 50px auto;
		grid-row-gap: 10px;
	}
	.calendar-month-header {
		grid-column: 1 / 3;
		padding: 10px 10px 10px 10px;
		background-color: #FFA366;
		color: inherit;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		font-size: 24px;	
	}
	.week-nav {
		grid-column: 2 / 3;
	}
	.week-nav a{
		text-decoration: none;
	}
/*	.calendar-day {
		grid-column: 1 / 3;
		border-width: thin;
		border-style: solid;
		border-color: #305D7C;	
	}
*/
	.calendar-day-header {
		grid-column: 1 / 2;
/*		border-left-width: thin;
		border-left-style: solid;
		border-left-color: #305D7C;
		border-top-width: thin;
		border-top-style: solid;
		border-top-color: #305D7C;
		border-bottom-width: thin;
		border-bottom-style: solid;
		border-bottom-color: #305D7C;*/
		padding: 5px 5px 5px 5px;
		vertical-align: top;
	}
	.calendar-day-header.today {
		background-color: #EEEEEE;
	}
	.calendar-day-number {
		display: block;
		color: inherit;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		font-size: 24px;
	}
	.calendar-day-description {
		display: block;
		color: inherit;
	}
	.calendar-day-content {
		grid-column: 2 / 3;
/*		border-top-width: thin;
		border-top-style: solid;
		border-top-color: #305D7C;
		border-bottom-width: thin;
		border-bottom-style: solid;
		border-bottom-color: #305D7C;
		border-right-width: thin;
		border-right-style: solid;
		border-right-color: #305D7C;*/
	}
	.calendar-day-not-available,
	.calendar-notice,
	.calendar-time-slot {
		display: inline-block;
	}
	.calendar-day-not-available,
	.calendar-notice {
		padding: 5px 10px 5px 10px;
		margin: 5px 5px 5px 5px;
		background-color: #EEEEEE;
	}
	.calendar-time-slot a {
		display: inline-block;
		padding: 5px 10px 5px 10px;
		background-color: #FFA366;
		margin: 5px 5px 5px 5px;
		text-decoration: none;
	}
	.calendar-time-slot a:hover {
		background-color: #FF6600;
	}